{% extends "includes/layout.html" %}
{% block content %}

<div class="page-container" style="min-height:609px">
	<!-- Page content -->
	<div class="page-content">
		<!-- Advanced login -->
		<div class="panel panel-body login-form" >
							<div class="text-center">
								<div class="icon-object border-warning-400 text-warning-400"><i class="icon-people"></i></div>
								<h5 class="content-group-lg"> <small class="display-block">Enter your credentials</small></h5>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" placeholder="Email or Phone" id="userID" ng-model="userID">
								<div class="form-control-feedback">
									<i class="icon-user text-muted" style="margin-top: 10px;"> </i>
								</div>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" placeholder="Password" id="userPass" ng-model="userPass">
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted" style="margin-top: 10px;"></i>
								</div>
							</div>


							<div class="form-group">
								<button  class="btn bg-blue btn-block" ng-click="doLogin()">Login <i class="icon-circle-right2 position-right"></i></button>
							</div>

						
						</div>


{% endblock %}

{% block title %}
Login Administrator
{% endblock %}
{% block bodyclass %}
login-container bg-bg1 pace-done
{% endblock %}
{% block scriptblock %}
				
{% block appjs %}

<script type="text/javascript" src="{{url_for('static', filename='js/app/login.js') }}"></script>
{% endblock %}
{% block angularcontrollerblock %}LoginController{% endblock %}

{% endblock %}